An easier way to create dataframes

In [2]:
import pandas as  pd
import numpy as np

In [23]:
# Creating the new set(DataFrame using zip method)
q1 = int(input('How many columns are being used : '))
q2 = int(input('How many values are in each column: '))
cols = []
set_1 = []


for i in range(q1):
    q3 = input('Enter the name of the column: ')
    cols.append(q3)
    
    for j in range(q2):
        q4 = input('Enter the items of the column : ' )
        set_1.append(q4)
    
    
idx = [m for m in range(q1)]
zipp = dict(list(zip(cols,set_1)))
set1 = pd.DataFrame(zipp,index = idx)

set1     

# Saving the newly created dataframe
q5 = input('Do you want to save it as a csv,excel or txt file: ').capitalize()
q6 = input('Enter the filename(extension inclusive):')

if q5 == 'Excel' or 'Excel file':
    xl = pd.to_excel(q6,index = False)
elif q5 == 'Csv' or 'Csv file':
    cs = pd.to_csv(q6,index = False)
else:
    txt = pd.to_csv(q6,index = False,delimiter = '\t')

How many columns are being used : 2
How many values are in each column: 2
Enter the name of the column: e
Enter the items of the column : r
Enter the items of the column : ty
Enter the name of the column: j
Enter the items of the column : k
Enter the items of the column : g

   e   j
0  r  ty
1  r  ty

In [ ]:
2
2