# Creating Dataframes

In [1]:
import pandas as pd
import numpy as np

In [5]:
my_dict = {}
value = []
q1 = int(input('How many columns do you want to use: '))

acs = []
abss = []

def list_gen():
    word = 'value'
    global j
    for j in range(q1):
        num = str(j+1)
        data = word + num
        print(data)
        acs.append(data)
        acs[j] = []
        
  
list_gen()




j = 0

q3 = int(input('How many values are in a column: '))
for i in range(q1):
    q2 = input('Enter your column name here: ')
    key = q2
    for i in range(q3):
        q4 = input('Enter the content(s) of the column,one at a time: ')
        acs[j].append(q4)
    my_dict.update({key: acs[j]})
    j += 1


q6 = input('Do you wish to add more columns to your data: ').capitalize()

new_df = pd.DataFrame(my_dict)
new_df

if q6 == 'Yes':
#     q1e = int(input('How many columns do you want to use: '))
    q8 = int(input('How many do you want to add: '))
           
    def list_gen2():
        word = 'value'
        global m
#         m = j + 1
        for m in range(q8):
            num = str(m)
            data = word + num
            print(data)
            abss.append(data)
            abss[m] = []
       
    list_gen2()
    
    m = 0 
    for i in range(q8):
        q2 = input('Enter your column name here: ')
        key = q2
                    
        for i in range(q3):
            q4 = input('Enter the content(s) of the column,one at a time: ')
            abss[m].append(q4)
        new_df[key] = abss[m] 
        m += 1
else:
    pass

new_df

q9 = input(" If you want to save this dataframe as an excel,text or csv file,specify Yes or No: ").capitalize()

if q9 == 'Yes':
    q10 = input('If Yes,enter the file type: ').capitalize()
    q11 = input('Also,enter the filename with the extension attached(.csv,.xlsx) here: ')
    if q10 == 'Excel' or 'Excel file':
        new_df.to_excel(q11,index = False)
    elif q10 == 'Csv' or 'Csv file':
        new_df.to_csv(q11,index = False)
    else:
        new_df.to_csv(q11,index = False,delimiter = '\t')

How many columns do you want to use: 4
value1
value2
value3
value4
How many values are in a column: 3
Enter your column name here: Girls
Enter the content(s) of the column,one at a time: Bridgette
Enter the content(s) of the column,one at a time: Sarah
Enter the content(s) of the column,one at a time: Lomokie
Enter your column name here: Boys
Enter the content(s) of the column,one at a time: Kareem
Enter the content(s) of the column,one at a time: Mike
Enter the content(s) of the column,one at a time: Daves
Enter your column name here: Pets
Enter the content(s) of the column,one at a time: Dog
Enter the content(s) of the column,one at a time: Cat
Enter the content(s) of the column,one at a time: Pig
Enter your column name here: Places
Enter the content(s) of the column,one at a time: Lisbon
Enter the content(s) of the column,one at a time: Luxemborg
Enter the content(s) of the column,one at a time: Miami
Do you wish to add more columns to your data: yes
How many do you want to add: 2
value0
value1
Enter your column name here: Apple devices
Enter the content(s) of the column,one at a time: iPad pro
Enter the content(s) of the column,one at a time: iPhone
Enter the content(s) of the column,one at a time: Macbook Pro M1 Max
Enter your column name here: Projects
Enter the content(s) of the column,one at a time: Dataframe
Enter the content(s) of the column,one at a time: Regression
Enter the content(s) of the column,one at a time: Graph

       Girls    Boys Pets     Places       Apple devices    Projects
0  Bridgette  Kareem  Dog     Lisbon            iPad pro   Dataframe
1      Sarah    Mike  Cat  Luxemborg              iPhone  Regression
2    Lomokie   Daves  Pig      Miami  Macbook Pro M1 Max       Graph

4

NameError: name 'm' is not defined

['David', 'MOses', 'Abraham']